@theme {  
  /* Color Emphasis - focus on element global */
  --color-emphasis: var(--color-pur-700);
  --color-emphasis-error: var(--color-tom-600);

  /* Action Button - background and text */
  --color-action-text: var(--color-white);
  --color-action-disabled: var(--color-pur-400);
  --color-action-normal: var(--color-pur-700);
  --color-action-hover: var(--color-pur-800);
  --color-action-active: var(--color-pur-900);
  
  /* Filled Button - background and text */
  --color-filled-text: var(--color-black);
  --color-filled-disabled: var(--color-gry-50);
  --color-filled-normal: var(--color-gry-100);
  --color-filled-hover: var(--color-gry-200);
  --color-filled-active: var(--color-gry-300);
  
  /* Border Button - border and text */
  --color-border-text: var(--color-black);
  --color-border-disabled: var(--color-gry-200);
  --color-border-normal: var(--color-gry-200);
  --color-border-hover: var(--color-gry-400);
  --color-border-active: var(--color-gry-700);
  
  /* Border Empty - text */
  --color-empty-text: var(--color-black);

  /* Input generic - border and text */
  --color-input-text: var(--color-black);
  --color-input-color: var(--color-gry-200);
  --inset-shadow-hack: inset 0px 0px 0px 18px;
  --color-shadow-color: var(--color-white);
  
  /* Input check - check backgroun and description */
  --color-input-check-background: var(--color-white);
  --color-input-check-description: var(--color-gry-900);

  --xs: 0.3125rem; /* 5px */
  --5x7: 2.1875rem; /* 35px */

  --spacing-xs: var(--xs);
  --spacing-5x7: var(--5x7);
  --radius-xs: var(--xs);

  /* Color Gray */
  --color-gry-50: oklch(98.6% 0 0);
  --color-gry-100: oklch(94.6% 0 0);
  --color-gry-200: oklch(89.4% 0 0);
  --color-gry-300: oklch(83.3% 0 0);
  --color-gry-400: oklch(74.8% 0 0);
  --color-gry-500: oklch(68.3% 0 0);
  --color-gry-600: oklch(62.7% 0 0);
  --color-gry-700: oklch(58.3% 0 0);
  --color-gry-800: oklch(51.4% 0 0);
  --color-gry-900: oklch(44.6% 0 0);
  --color-gry-950: oklch(33.3% 0 0);

  /* Color purple */
  --color-pur-50: oklch(96.2% 0.022 293);
  --color-pur-100: oklch(93.1% 0.04 293.5);
  --color-pur-200: oklch(87.2% 0.075 292.2);
  --color-pur-300: oklch(77.6% 0.136 291.9);
  --color-pur-400: oklch(66.1% 0.212 290.9);
  --color-pur-500: oklch(56.1% 0.278 288.1);
  --color-pur-600: oklch(52.2% 0.301 285.5);
  --color-pur-700: oklch(50.2% 0.307 280.4);
  --color-pur-800: oklch(44.2% 0.269 281.2);
  --color-pur-900: oklch(38.4% 0.23 282.6);
  --color-pur-950: oklch(28.6% 0.175 280.3);

  /* Color tomate */
  --color-tom-600: oklch(64.86% 0.299 28.96);
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  /* desactiva el scroll en navegadores webkit */
  /* display: none; */
  -webkit-appearance: none;
}

input[type=search]::-webkit-search-cancel-button {
  appearance: none;
}